body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0f172a;
}

.main-container {
  min-height: 100vh;
  padding: 40px;
  background:
    linear-gradient(
      135deg,
      #0f172a,
      #1e293b,
      #111827
    );
}

.glass-card {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  border-radius: 30px;
  background:
    rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
}

.title {
  text-align: center;
  color: white;
  font-size: 54px;
}

.subtitle {
  text-align: center;
  color: #cbd5e1;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 24px;
}

.input-group label {
  display: block;
  margin-bottom: 12px;
  color: white;
  font-size: 20px;
}

.details-card {
  margin-top: 30px;
  padding: 30px;
  border-radius: 25px;
  background:
    rgba(255,255,255,0.08);
}

.details-card h2 {
  color: white;
  font-size: 36px;
}

.details-card p {
  color: #e2e8f0;
  font-size: 18px;
  margin: 10px 0;
}

.weather-card {
  margin-top: 25px;
  padding: 25px;
  border-radius: 20px;
  background:
    rgba(255,255,255,0.08);
}

.weather-card h3 {
  color: white;
  font-size: 28px;
}

.temperature {
  font-size: 46px;
  color: #38bdf8;
}

.voice-btn {

  width: 100%;
  padding: 18px;

  margin-top: 18px;

  border: none;
  border-radius: 18px;

  background:
    linear-gradient(
      135deg,
      crimson,
      #ef4444
    );

  color: white;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.voice-text {

  color: white;
  text-align: center;
  margin-top: 15px;
}

.css-13cymwt-control,
.css-t3ipsp-control {

  background:
    rgba(255,255,255,0.08) !important;

  border-radius: 18px !important;

  min-height: 60px !important;

  border:
    1px solid rgba(255,255,255,0.1) !important;
}

.css-1nmdiq5-menu {

  background: #000 !important;
}

.css-10wo9uf-option {

  background: #000 !important;
  color: white !important;
}

.css-tr4s17-option {

  background: #2563eb !important;
  color: white !important;
}
.css-singleValue {
  color: white !important;
}

.css-1dimb5e-singleValue {
  color: white !important;
}

.css-qbdosj-Input input {
  color: white !important;
}

.css-19bb58m input {
  color: white !important;
}